body{
	background-image: url("images/Background.png");
	font-family: 'Lato', sans-serif;
}
h1{
	color:#000000;
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: 400;
	font-size: 62.5%;
	/*letter-spacing: .15em*/
}
h2{
	color: #000000;
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 62.5%;
}
h3{
	color:#000000;
	font-family: 'Roboto Condensed', sans-serif; 
}
p, ul{
	font-family: 'Lato', sans-serif;
	color:#000000;
	font-size: 62.5%;
	line-height: 1.2em;
	margin-bottom: 1.5em;
	max-width: 600px;
}
a{
	font-size: 62.5%;
	cursor:pointer;
}
em{
	font-size: .8em;
}
#HeaderDiv img{
	display: block;
}
#HeaderDiv h1{
	position: relative;
	top: -15px;
	font-size: 2.0em;
	color: #000000; 
	text-align: center;
}
#Logo{
	margin: 0 auto;
}
#NavDiv{
	background-image: url("images/GradientSquare.png");
	position: relative;
	height: 69px;
	top: -20px;
	left: 0;
	right: 0;
}
#NavText{
	position: relative;
	top: -12px;
	margin: 0;
	font-weight:bold;
	text-align: center;
	font-size: 3.2em;
	font-family: 'Roboto Condensed', sans-serif; 
}
#NavDiv a{
	text-decoration: none;
	color: #000000;
}
#NavDiv a:hover{
	color: #ffffff;
}
#ContentDiv{
	position: relative;
	padding-left: 50%;
	top: 50px;
}
#ContentDiv p{
	float: center;
	margin-left: 45px;
	font-size: 1.6em;
}
#ContentDiv a{
	color: blue;
	font-size: 1.0em;
}
#ContentDiv a:hover{
	color: purple;
	text-underline-position: 1px;
}
#GlassTop{
	background-image:url("images/GlassTop.png");
	background-repeat:no-repeat;
	height: 55px;
	width:700px;
	position:relative;
	top: -55px;
	left: -350px;
}
#TextDiv{
	position: relative;
	width: 700px;
	left: -350px;
	top: -81px;
	background-image: url("images/GlassEdge.png");
	background-repeat: repeat-y;
}
#GlassBottom{
	background-image:url("images/GlassBottom.png");
	background-repeat:no-repeat;
	height: 55px;
	width:700px;
	position: relative;
	bottom: 119px;
	left:-350px;
}
	